.carousel-item {
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    transition: transform 0.6s ease-in-out;
}

.carousel-item {
    height: 70vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1e3f20;
}


.item-slide-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('img/background_insyira.jpg');
}

.item-slide-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/bolu_gulung_durian_insyira.jpg');
}

.carousel-indicators [button] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
        }
